.miniNoty {
  position: fixed;
  right: 10px;
  bottom: -10px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  max-width: 300px;
  min-width: 150px;
  opacity: 0;
  z-index: 1000;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.miniNoty-show {
  bottom: 10px;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.miniNoty-success {
  background: mediumseagreen;
  box-shadow: 0 2px 5px mediumseagreen;
}

.miniNoty-error {
  background: indianred;
  box-shadow: 0 2px 5px indianred;
}

.miniNoty-normal {
  background: lightgrey;
  box-shadow: 0 2px 5px lightgrey;
  color: #000;
}

.miniNoty-warning {
  background: goldenrod;
  box-shadow: 0 2px 5px goldenrod;
}


body {
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: #273036;
  margin: 0;
}

button {
  background-color: #444A58;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 1px 0px;
  color: #FFFFFF;
}

button:disabled, input:disabled {
  background-color: #81848C;
  color: #EEEEEE;
}

button:hover:not(:disabled), input:hover:not(:disabled) {
  background-color: #505666;
}

input {
  border-radius: 2px;
  background-color: #444A58;
  color: #FFFFFF;
}

/* Header */
#header {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  z-index: 75;
  color: #FFFFFF;
}

#navButton,
#parametersButton {
  display: none;
  margin-left: 5px;
  padding-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#name {
  font-size: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

#search {
  position: fixed;
  right: 65px;
  margin-left: 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#help {
  position: fixed;
  right: 25px;
  margin-left: 5px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

#parametersButton {
  position: fixed;
  right: 25px;
  margin-left: 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Nav */
#nav {
  position: fixed;
  width: 250px;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  background-color: #273036;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  z-index: 25;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

#parameters {
  position: fixed;
  width: 250px;
  top: 50px;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  background-color: #273036;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  z-index: 25;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

#nav.see {
  z-index: 51;
  border-right: SOLID 2px #000000;
}

#parameters.see {
  z-index: 50;
  border-left: SOLID 2px #000000;
}

.menu {
  color: #FFFFFF;
  padding-bottom: 15px;
}

.menu input {
  padding-left: 5px;
}

.sub-menu {
  color: #FFFFFF;
  overflow-y: auto;
  padding-left: 5px;
  padding-bottom: 10px;
}

#week {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

#week button {
  padding: 4px 1px;
}

#before {
  flex: 1;
  margin: 1px;
}

#actual {
  flex: 2;
}

#after {
  flex: 1;
  margin: 1px;
}

#myTab {
  font-style: italic;
}

.sub-menu div {
  width: 100%;
}

.sub-menu > div > div > button {
  width: 100%;
  padding: 4px 10px;
  overflow: hidden;
}

.sub-menu > div > div > button i.fa-caret-up,
.sub-menu > div > div > button i.fa-caret-down,
.sub-menu > div > div > button i.fa-times {
  position: absolute;
  right: 20px;
}

#organize {
  display: none;
}

label {
  cursor: pointer;
}

div.options {
  height: 0;
  overflow: hidden;
}

button.option {
  width: 50%;
  font-size: 11px;
  margin: 0px;
  padding: 2px 1px;
  border: 1px SOLID #273036;
}

#printed button {
  border: none;
}

button.option:last-child:nth-child(2n+1) {
  width: 100%;
}

.active {
  color: #4CAF50;
}

.partialyActive {
  color: #FAA012;
}

@media screen and (max-width: 1600px) {
  #calendar-container,
  #title {
    padding-left: 225px;
  }

  #search {
    right: 105px;
  }

  #help {
    right: 65px;
  }

  #parametersButton {
    display: inline;
  }

  #parameters {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    z-index: 50;
  }

  #parameters div {
    opacity: 0;
  }

  #main,
  #title {
    margin-left: 0;
  }

  #parameters.see {
    width: 250px;
    padding-left: 5px;
    padding-right: 10px;
    border-right: SOLID 2px #000000;
  }

  #parameters.see div {
    opacity: 1;
  }
}

@media screen and (max-width: 1350px) {
  #calendar-container,
  #title {
    padding-left: 0px;
  }

  #search {
    right: 105px;
  }

  #help {
    right: 65px;
  }

  #navButton,
  #parametersButton {
    display: inline;
  }

  #nav,
  #parameters {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  #nav {
    z-index: 51;
  }

  #parameters {
    z-index: 50;
  }

  #nav div,
  #parameters div {
    opacity: 0;
  }

  #main {
    margin-left: 0;
  }

  #nav.see,
  #parameters.see {
    width: 250px;
    padding-left: 5px;
    padding-right: 10px;
  }

  #nav.see div,
  #parameters.see div {
    opacity: 1;
  }
}

#title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 50px;
}


/* Calendar */
#otherDay {
  display: none;
  height: 30px;
  width: 60px;
  z-index: 25;
  /* text-align: center; */
  margin: auto;
  margin-bottom: -30px;
}

#otherDay button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: #FFF;
}

#calendar-container {
  margin: 0 auto;
}

#calendar-container.calendar-exported {
  padding: 0px;
}

.calendar-container * {
  box-sizing: content-box;
}

.calendar-headers {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  padding-left: 61px;
  position: relative;
}

.calendar-headers > div {
  width: 137px;
  height: 20px;
  padding-top: 10px;
  /*margin-bottom: 10px;*/
  border-left: 1px solid #AABBBB;
  border-bottom: 1px solid #AABBBB;
  border-top: 1px solid #AABBBB;
  text-align: center;
  background-color: #D3E0EF;
}

.calendar-main-body > div > div.calendar-cell10,
.calendar-main-body > div > div.calendar-cell20,
.calendar-main-body > div > div.calendar-cell21  {
  border-right: 1px solid #AABBBB;
}


.calendar-main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.calendar-main-timeline {
  border-bottom: 1px solid #AABBBB;
}

.calendar-main-timeline div {
  width: 50px;
  height: 17px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  padding-top: 3px;
  color: #333333;
  background-color: #FFFFFF;
  border-right: 1px solid #AABBBB;
  border-left: 1px solid #AABBBB;
}

.calendar-main-timeline div:first-child {
  margin-top: -1px;
  border-top: 1px solid #AABBBB;
}


.calendar-main-body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  border-bottom: 1px solid #AABBBB;
}

.calendar-main-timeline div:nth-child(even),
.calendar-main-body > div > div.calendar-cell10:nth-child(odd),
.calendar-main-body > div > div.calendar-cell20:nth-child(odd),
.calendar-main-body > div > div.calendar-cell21:nth-child(odd) {
  border-top: 1px dotted #AABBBB;
  border-bottom: 1px solid #AABBBB;
}

.calendar-main-body > div > div.calendar-cell10 {
  width: 137px;
  height: 20px;
}

.calendar-main-body > div > div.calendar-cell20,
.calendar-main-body > div > div.calendar-cell21 {
  width: 68px;
  height: 20px;
}

.calendar-main-body > div > div.calendar-cell10.allDay {
  height: 41px;
}

.calendar-main-timeline > div.allDay {
  height: 38px;
}

.calendar-main-body > div > div.calendar-cell20 {
  background-color: #CCCCCC;
}

.calendar-main-body div .calendar-cell10,
.calendar-main-body > div > div.calendar-cell21 {
background-color: #FFFFFF;
}

.days > div:not(.calendar-tasks) {
  text-align: center;
}

.futureHour > i {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  color: #000000;
  background-color: transparent;
}

.futureHour:hover > i {
  display: block;
}

.calendar-headers .passedDay, .calendar-main-body .passedDay .calendar-cell10, .calendar-main-timeline .passedHour, .calendar-main-body div.calendar-cell10.passedHour {
  background-color: #CCCCCC;
}

.calendar-headers .currentDay, .calendar-main-body .currentDay .calendar-cell10, .calendar-main-timeline .currentHour, .calendar-main-body div.calendar-cell10.currentHour {
  background-color: #576D7C;
  color: #FFF;
}

.calendar-headers .futureDay, .calendar-main-body .futureDay .calendar-cell10, .calendar-main-timeline .futureHour, .calendar-main-body div.calendar-cell10.futureHour {
  background-color: #D3E0EF;
}

.calendar-main-body > div > .calendar-tasks {
  height: 0;
  position: relative;
}

.calendar-main-body > div > .calendar-tasks > div {
  position: absolute;
  font-size: 12px;
  border-radius: 2.5px;
  overflow: hidden;
  background-color: #576D7C;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  box-sizing: border-box;
  box-shadow: 0px .125em .25em rgba(0,0,0,.25);
  margin-left: 3px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.calendar-main-body > div > .calendar-tasks > div:hover {
  box-shadow: 0.5em .5em .5em rgba(0,0,0,.5);
  background-color: #3A4852;
}

#main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#loading {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
}

.card {
  z-index: 50;
  width: 132px;
  opacity: 0.9;
}

.card.before {
  border-top: 2px dotted #000000;
}

.card.after {
  border-bottom: 2px dotted #000000;
}

.card.focus {
  z-index: 100;
  opacity: 1;
  border: none;
}

.sameCard {
  border: 2px SOLID #000000;
}

.card.sameCard1 {
  border-right: none;
}

.card.sameCard2 {
  border-left: none;
}

.card.sameCard .interraction {
  left: 0;
}

.time {
  font-size: 10px;
  overflow: hidden;
  height: 10px;
  text-align: center;
  opacity: 0.85;
  padding-bottom: 1px;
}

.interraction {
  display: none;
  position: absolute;
  bottom: 2px;
  text-align: center;
  left: 2px;
  width: 128px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.description {
  padding: 4px;
  font-size: 10.5px;
  text-align: center;
  cursor: pointer;
}

#zoneFocus, #zonePopup {
  position: fixed;
  visibility: hidden;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#zoneGrey {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  z-index: 90;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#zoneFocus.focused,
#zoneGrey.focused,
#zonePopup.focused {
  opacity: 0.25;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#zonePopup {
  background-color: #000000;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#popup, #prevoir {
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  visibility: hidden;
  width: 80%;
  max-height: 80%;
  opacity: 0;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translate(0, -50%);
  border: 5px SOLID #BBBBBB;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

#popupHead, #prevoirHead {
  top: 0;
  left: 0;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: 5px SOLID #BBBBBB;
  background-color: #BBBBBB;
  z-index: 2;
}

#popupInfo {
  color: #0000FF;
  margin-top: 10px;
  padding: 2px;
}

#popupError {
  color: #FF0000;
  margin-top: 10px;
  padding: 2px;
}

#popupContent, #future {
  overflow: auto;
}

#noteExchange {
  margin: 4.5%;
  width: 90%;
  max-height: 250px;
}

#sendExchange {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#popupHead button:not(#searchButton) {
  position: absolute;
  top: 10px;
  right: 2px;
  width: 50px;
}

#popupHead input {
  width: 50%;
}

.centerCard {
  margin: 0.5%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  border: 2px SOLID #CCCCCC;
  border-radius: 5px;
  background-color: #CCCCCC;
  text-align: center;
}

.centerCard button {
  width: 25%;
  text-align: center;
}

.subCard ,.optionCards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.5%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  border: 2px SOLID #CCCCCC;
  border-radius: 5px;
  background-color: #CCCCCC;
}

.optionCards button {
  width: 25%;
  text-align: center;
}

.studentCards, .uvCards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-wrap: wrap;
}

.studentCardsText, .uvCardsText {
  text-align: center;
  padding: 5px;
  padding-top: 15px;
  background-color: #BBBBBB;
}

.studentCard, .uvCard {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-grow: 1;
  min-width: 300px;
  width: 23%;
  margin: 0.5%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  height: 75px;
  border: 2px SOLID #CCCCCC;
  border-radius: 5px;
  background-color: #CCCCCC;
}

.voidCard {
  margin: 0.5%;
  margin-bottom: 2.5px;
  padding: 5px;
  border: 2px SOLID #CCCCCC;
  border-radius: 5px;
  background-color: #CCCCCC;
}

.studentCard:hover {
  background-color: #BBBBBB;
}

.imgCard * {
  position: absolute;
  cursor: pointer;
  margin: 5px;
  margin-top: 2.5px;
  height: 70px;
  width: 57px;
  font-size: 25px;
}

.studentCard .infosCard, .uvCard .infosCard {
  margin: auto;
  margin-left: 68px;
  overflow-y: auto;
  border: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionsCard {
  margin-left: 5px;
  height: 100%;
}

.optionsCard button {
  display: block;
  height: 50%;
  width: 50px;
  cursor: pointer;
}

.cardButtons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}

.cardButtons button {
  margin-top: 25px;
  flex: 1;
}

.subCard {
  border-radius: 10px 10px 0 0;
  padding-bottom: 0px;
  margin-bottom: 0;
  border-bottom: 1px SOLID;
}

.subCard {
  border-radius: 10px 10px 0 0;
  padding-bottom: 0px;
  margin-bottom: 0;
  border-bottom: 1px SOLID;
}

.subCard b, .subCard input {
  padding-top: 2px;
  padding-left: 5px;
  flex: 1;
}

.subCard button {
  width: 50px;
  padding: 2px;
}


/*
@media screen and (max-width: 500px) {
  .studentCard {
    min-width: 200px;
  }

  .studentCard div, .optionsCard button {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .studentCard {
    min-width: 0;
  }

  .studentCard div, .optionsCard {
    display: none;
  }
}
*/
#option {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-wrap: nowrap;
  background-color: #273036;
  z-index: 1;
}

#option * {
  border: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

#option button:not(.delTab):not(.blocked) {
  background-color: transparent;
}

#option button {
  padding: 10px;
}

#option select {
  background-color: #273036;
}

#option button:hover:not(.blocked),
#option select:hover {
  background-color: #222;
  cursor: pointer;
}

.parameters {
  padding: 5px;
}

.parameters button {
  display: block;
  width: 80%;
  margin-left: 10%;
  min-height: 25px;
  margin-bottom: 5px;
}

.parameters i {
  margin-right: 1px;
}

#alarmICS {
  min-width: 25px;
  max-width: 50px;
}

.infosExchange {
  color: #000000;
  font-size: 11px;
  background-color: #CCCCCC;
  opacity: 0.75;
  margin-left: 4px;
  margin-right: 4px;
  padding: 1px;
}

.interraction .option {
  text-align: center;
  font-size: 10px;
  margin: 1px;
  padding: 0px;
  width: 120px;
  border: none;
  cursor: pointer;
  overflow: auto;
}

.option:hover {
  margin: 0px;
  border: 1px SOLID #FFFFFF;
  cursor: pointer;
  border-radius: 2.5px;
}

.color {
  padding: 0px;
  margin: 0px;
}

.colorButton {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 0px;
  margin: 1px;
  font-size: 8px;
  cursor: pointer;
  border: none;
}

.colorButton:hover {
  margin: 0px;
  border: 1px SOLID #FFFFFF;
  cursor: pointer;
  border-radius: 2.5px;
}

.subject {
  margin-top: 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.subject span {
  font-weight: bold;
  margin: 0;
  padding-right: 2px;
}

.subject h5 {
  margin: 0;
  font-style: italic;
  opacity: 0.5;
  padding-top: 1px;
}

.location {
  font-size: 10px;
}

.note {
  font-size: 10px;
  text-decoration: underline;
}
