html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-color: #384047;
  padding-top: 135px;
  display: table-cell;
  font-family: Helvetica, ​Arial, ​sans-serif;
  -webkit-print-color-adjust: exact;
  overflow-x: hidden;
}

.calendar-container {
  z-index: 1;
  margin: auto;
}

.calendar-container * {
  box-sizing: content-box;
}


.calendar-headers {
  display: flex;
  padding-left: 61px;
  position: relative;
}

.calendar-headers > div {
  flex: 0 0 137px;
  height: 20px;
  padding-top: 10px;
  /*margin-bottom: 10px;*/
  border-left: 1px solid #AABBBB;
  border-bottom: 1px solid #AABBBB;
  border-top: 1px solid #AABBBB;
  text-align: center;
  background-color: #D3E0EF;
}

.calendar-main-body > div > div.calendar-cell10,
.calendar-main-body > div > div.calendar-cell20,
.calendar-main-body > div > div.calendar-cell21  {
  border-right: 1px solid #AABBBB;
}


.calendar-main {
  display: flex;
}

.calendar-main-timeline div {
  width: 50px;
  height: 17px;
  text-align: left;
  padding-left: 10px;
  padding-top: 3px;
  color: #333333;
  border-right: 1px solid #AABBBB;
  border-left: 1px solid #AABBBB;
}

.calendar-main-timeline div:first-child {
  margin-top: -1px;
  border-top: 1px solid #AABBBB;
}


.calendar-main-body {
  display: flex;
}

.calendar-main-timeline div {
  background-color: #FFFFFF;
}

.calendar-main-timeline div:nth-child(even),
.calendar-main-body > div > div.calendar-cell10:nth-child(odd),
.calendar-main-body > div > div.calendar-cell20:nth-child(odd),
.calendar-main-body > div > div.calendar-cell21:nth-child(odd) {
  border-top: 1px dotted #AABBBB;
  border-bottom: 1px solid #AABBBB;
}

.calendar-main-body > div > div.calendar-cell10 {
  width: 137px;
  height: 20px;
}

.calendar-main-body > div > div.calendar-cell20,
.calendar-main-body > div > div.calendar-cell21 {
  width: 68px;
  height: 20px;
}

.calendar-main-body > div > div.calendar-cell10.allDay {
  height: 41px;
}

.calendar-main-timeline > div.allDay {
  height: 38px;
}

.calendar-main-body > div > div.calendar-cell20 {
  background-color: #CCCCCC;
}

.calendar-main-body div .calendar-cell10,
.calendar-main-body > div > div.calendar-cell21 {
background-color: #FFFFFF;
}

.calendar-headers .passedDay, .calendar-main-body .passedDay .calendar-cell10, .calendar-main-timeline .passedHour, .calendar-main-body div.calendar-cell10.passedHour {
  background-color: #CCCCCC;
}

.calendar-headers .currentDay, .calendar-main-body .currentDay .calendar-cell10, .calendar-main-timeline .currentHour, .calendar-main-body div.calendar-cell10.currentHour {
  background-color: #576D7C;
  color: #FFF;
}

.calendar-headers .futureDay, .calendar-main-body .futureDay .calendar-cell10, .calendar-main-timeline .futureHour, .calendar-main-body div.calendar-cell10.futureHour {
  background-color: #D3E0EF;
}

.calendar-main-body > div > .calendar-tasks {
  height: 0;
  position: relative;
}

.calendar-main-body > div > .calendar-tasks > div {
  position: absolute;
  font-size: 12px;
  border-radius: 2.5px;
  overflow: hidden;
  background-color: #576D7C;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  box-sizing: border-box;
  box-shadow: 0px .125em .25em rgba(0,0,0,.25);
  margin-left: 3px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.calendar-main-body > div > .calendar-tasks > div:hover {
  box-shadow: 0.5em .5em .5em rgba(0,0,0,.5);
  background-color: #3A4852;
}

.card {
  z-index: 15;
  width: 132px;
  opacity: 0.9;
}

.card.focus {
  z-index: 25;
  opacity: 1;
}

.card.sameCard {
  border: 2px SOLID #000000;
}

.card.sameCard .interraction {
  left: 0;
}

.time {
  font-size: 10px;
  overflow: hidden;
  height: 10px;
  text-align: center;
  opacity: 0.85;
  padding-bottom: 1px;
}

.interraction {
  display: none;
  position: absolute;
  bottom: 2px;
  text-align: center;
  left: 2px;
  width: 128px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

#loading {
  position: absolute;
  display: block;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#zoneFocus, #zonePopup {
  position: fixed;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#zoneGrey {
  pointer-events: none;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  z-index: 20;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#zoneFocus.focused,
#zoneGrey.focused,
#zonePopup.focused {
  opacity: 0.25;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#zonePopup {
  background-color: #000000;
  z-index: 50;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#popup {
  flex-wrap: wrap;
  position: fixed;
  overflow: auto;
  visibility: hidden;
  width: 80%;
  max-height: 80%;
  opacity: 0;
  top: 50%;
  left: 10%;
  right: 10%;
  transform: translate(0, -50%);
  border: 5px SOLID #BBBBBB;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 50;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#popupHead {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border: 5px SOLID #BBBBBB;
  background-color: #BBBBBB;
  z-index: 2;
}

#noteExchange {
  margin: 4.5%;
  width: 90%;
  max-height: 250px;
}

#sendExchange {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#searchResult {
  display: flex;
  flex-wrap: wrap;
}

.optionCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0.5%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  border: 2px SOLID #CCCCCC;
  border-radius: 5px;
  background-color: #CCCCCC;
}

.optionCards button {
  width: 25%;
  text-align: center;
}

.allCards {
  display: flex;
  flex-grow: 1;
  min-width: 300px;
  width: 23%;
  margin: 0.5%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  height: 75px;
  border: 2px SOLID #CCCCCC;
  border-radius: 5px;
  background-color: #CCCCCC;
}

@media screen and (max-width: 500px) {
  .allCards {
    min-width: 200px;
  }

  .allCards div, .allCards button {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .allCards {
    min-width: 0;
  }

  .allCards div, .allCards button {
    display: none;
  }
}

.allCards button {
  cursor: pointer;
}

.allCards:hover {
  background-color: #BBBBBB;
}

.searchImg {
  position: absolute;
  cursor: pointer;
  margin: 5px;
  margin-top: 2.5px;
  height: 70px;
  width: 57px;
  font-size: 25px;
}

.allCards div {
  margin: auto;
  border: 0px;
}

.allCards > div {
  margin-left: 68px;
  overflow-y: auto;
}

.login {
  background-color: #FF0000;
}

.tab {
  display: block;
  margin-bottom: 10px;
}

#tab div span {
  cursor: pointer;
  background-color: #FFFFFF;
  padding: 2px;
  margin: 0;
}

.delTab {
  background-color: #FF0000;
  cursor: not-allowed;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-color: #273036;
  text-align: center;
  color: #FFFFFF;
}

#title {
  margin: 5px;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

#sTitle {
  font-size: 16px;
}

#bar {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#tabs {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: #273036;
  overflow-y: visible;
}

#tabs div {
  min-height: 20px;
  max-height: 55px;
}

#tabs div:hover:not(.active):not(.blocked) {
  background-color: #222;
}

#tabs button {
  border: none;
  padding: 12px;
  max-width: 150px;
  color: white;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

#tabs select {
  max-width: 150px;
  min-width: 100px;
}

.active {
  background-color: #4CAF50;
  cursor: default;
}

.notActive {
  background-color: transparent;
  cursor: pointer;
}

.blocked {
  cursor: default;
  background-color: #555555;
}

.etu.active {
  cursor: pointer;
}

.etu.notActive {
  cursor: pointer;
}

#myTab {
  background-color: #770000;
  cursor: pointer;
}

.separatorTab {
  border: 2px SOLID #000000;
}

#option {
  display: flex;
  flex-wrap: nowrap;
  background-color: #273036;
  z-index: 1;
}

#option * {
  border: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

#option button:not(.delTab):not(.blocked) {
  background-color: transparent;
}

#option button {
  padding: 10px;
}

#option select {
  background-color: #273036;
}

#option button:hover:not(.blocked),
#option select:hover {
  background-color: #222;
  cursor: pointer;
}

#search {
  padding: 10px;
}

#otherDay {
  display: none;
  position: absolute;
  top: 135px;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 60px;
  z-index: 20;
  text-align: center;
  padding: 0;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

#otherDay button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: #FFF;
}

#parameters {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2px;
  margin-left: 5px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  z-index: 10;
}

.parameters {
  padding: 5px;
}

.parameters button {
  display: block;
  width: 80%;
  margin-left: 10%;
  min-height: 25px;
  margin-bottom: 5px;
}

.parameters i {
  margin-right: 1px;
}

#alarmICS {
  min-width: 25px;
  max-width: 50px;
}

.infosExchange {
  color: #000000;
  font-size: 11px;
  background-color: #CCCCCC;
  opacity: 0.75;
  margin-left: 4px;
  margin-right: 4px;
  padding: 1px;
}

.option {
  text-align: center;
  font-size: 11px;
  margin: 1px;
  padding: 0px;
  width: 120px;
  border: none;
  cursor: pointer;
  overflow: auto;
}

.option:hover {
  margin: 0px;
  border: 1px SOLID #FFFFFF;
  cursor: pointer;
  border-radius: 2.5px;
}

.color {
  padding: 0px;
  margin: 0px;
}

.colorButton {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 0px;
  margin: 1px;
  font-size: 8px;
  cursor: pointer;
  border: none;
}

.colorButton:hover {
  margin: 0px;
  border: 1px SOLID #FFFFFF;
  cursor: pointer;
  border-radius: 2.5px;
}

#tabs button:hover + .tab-close, #tabs button:hover + .tab-close, #tabs .tab-close:hover:not(.active):not(.blocked) {
  display: inline;
  position: absolute;
  top: 0;
  transform: translate(-16px, 0);
}

#tabs .tab-close:hover:not(.active):not(.blocked) {
  background-color: #0000;
  color: #F00;
}

#tabs .tab-close {
  display: none;
  width: 15px;
  background-color: #0000;
  padding: 0;
}

.subject {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subject span {
  font-weight: bold;
  margin: 0;
  padding-right: 2px;
}

.subject h5 {
  margin: 0;
  font-style: italic;
  opacity: 0.5;
  padding-top: 1px;
}

.location {
  font-size: 10px;
}

.note {
  font-size: 10px;
  text-decoration: underline;
}
